body {
    font-family: Arial, Verdana, sans-serif;
    background-color: black;
}
H1 {
    color: white;
    font-size: 4em;
    margin: 20px;
    float: left;
} 
H1.H1red {
    color: rgb(219, 88, 88);
    font-size: 4em;
    margin: 20px;
    float: left;
}
* {text-decoration:none}

#header {
    width: 100%;
    background-image: url("images/124494-architecture-3d-dark-4k.jpg");
    overflow: auto;
}
li.menu {
    display: inline;
    font-size:2em;
    padding: 30px;
}
#menu {
        width: 100%;
        background-color:rgb(226, 215, 215);
        height: 100%;
        text-align: center;       
}
li.box {
    display: inline;
    padding: 10px 10px;
    border: 2px solid black;
    width: 150px;
    float: left;
    text-align: center;
    background-color: rgba(185, 183, 164, 0.897);
    margin: 15px 25px 15px 25px;
    height: 150px;
    -moz-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    -webkit-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    overflow:hidden;
}
li.box1 {
    display: inline;
    padding: 10px 10px;
    width: 150px;
    height: 150px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    -moz-background-clip: padding-box;
    -webkit-backgroundclip: padding-box;
    background-clip: padding-box; /* przezroczyste krawedzie*/
    border-radius: 90px 90px;  /* cicle*/
    float: left;
    text-align: center;
    background-color: rgba(185, 183, 164, 0.897);
    margin: 15px 25px 15px 25px;
    -moz-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    -webkit-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    overflow:hidden;
}
li.box2 {
    display: inline;
    padding: 10px 10px;
    border: 2px solid black;
    width: 150px;
    float: left;
    text-align: center;
    background-color: rgba(185, 183, 164, 0.897);
    margin: 15px 25px 15px 25px;
    height: 150px;
    -moz-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    -webkit-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    overflow:hidden;
    background: linear-gradient(deepSkyBlue, Black);
    background: moz-linear-gradient(deepSkyBlue, Black);   /*gradient background*/
}
li.box3 {
    display: inline;
    padding: 10px 10px;
    border: 7px dotted black; /*--kropkowana ramka*/
    width: 150px;
    float: left;
    text-align: center;
    margin: 15px 25px 15px 25px;
    height: 150px;
    -moz-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    -webkit-box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    box-shadow: 5px 5px 5px 5px rgb(119, 149, 177);
    overflow:hidden;
    background: -moz-radial-gradient(rgb(168, 221, 119) 15%, rgb(214, 214, 125) 15%, white 60%);
}
footer {
    background-color: rgba(185, 183, 164, 0.897);
}
#first {
    width: 100%;
    overflow: auto;
    background-color: #ffffffb4;
}
#second {
width: 100%;
overflow: auto;
background-color: white;
}
blackquote {
    float: right;
    width: 310px;
    font-style: italic;
    font-family: Georgia, Times, serif;
    padding: 150px;
    border-top: 10px;
    border-bottom: 10px;
    margin: 0px 0px 10px 10px;
    text-align: justify;                   /*wyjustowanie*/
}
#third {
    width: 100%;  
    background-color: white;
    overflow: hidden;
}
article {
    background-color: blanchedalmond;
    width:100%;
    height: 800px;
}
#fourth {
    background-color:white;
    width: 100%;
    height: 200px;
    
}
#fifth {
    background-color:rgb(194, 194, 194);
    width: 100%;
}
td.description {
    text-align: left;
    padding: 5px;
    margin: 0px;
    width: 800px;
    text-align: justify;
}
#sixth {
    width: 100%;
    background-color: white;
}

select {
    border:solid 5px rgb(128, 224, 128);
    border-radius: 20px;
    height: 4em;
    width: 10em;
}
#seventh {
    width:100%;
    background-color: white;
}
p.article1 {
    width: 100px;
    height: 100px;
    background-color: rgb(197, 197, 197);
    display: block;
    z-index: 1;
    position: relative; /* bez tego z-index nie zadziała*/
   
}
p.article2 {
    width: 100px;
    height: 100px;
    background-color: rgb(101, 101, 156);
    margin-top: -50px;
    margin-left: 50px;
    display: block;
    position: relative; /* bez tego z-index nie zadziała*/
}
ul.article3 {
    position: relative;
    top: -170px;
    left:300px;
    width: 250px;
    background-color: cornflowerblue;
}
td.description::first-line {  /*pseudo-class-for ex.can change first line*/
    color: rgb(184, 66, 91) ; 
}
td.description::first-letter {
    color: rgb(119, 21, 21);
    font-size: 2em;
    font-family: 'Algierian';
}
td.description::selection {
    background-color: crimson;
}
td.description::moz-selection {
    background-color: crimson;
}
p.article1opacity {
    width: 100px;
    height: 100px;
    background-color: rgb(197, 197, 197);
    display: block;
    z-index: 1;
    position: relative; /* bez tego z-index nie zadziała*/
    opacity: 0.6; /*opacity */
    filter: alpha(opacity=60); /* opacity for ie*/
}
#engine {
    transform: scale(0.5); /*zmniejszenie o połowe */
    transform-origin: 0% 0%;  /* przesunięcie obrazka do lewego rogu*/
    animation-name: engine; /*nazwa animacji*/
    animation-duration: 10s;
}
@keyframes engine { 
    0% {transform:scale(0.5)}
    50% {transform:scale(0.1)}
    100% {transform:scale(0.5)}
}